body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

.header {
    background-color: #1f2937;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    padding: 8px;
    margin-left: 50px;
    display: flex;
    }

.links {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    display: flex;
}

.hero {
    background-color: #1f2937;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.kratos {
    color: #f9faf8;
    display: flex;
    font-size: 48px;
    margin-left: 50px;
    margin-top: 50px;
}

.text {
    color: #e5e7eb;
    display: flex;
    font-size: 18px;
    margin-left: 50px;
    width: 300px;
}

img {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 50px;
    padding: 8px;
}

.container {
    display: flex;
}

.subtext {
    display: flex;
}